body {
    overflow-x: hidden;
    background-color: rgba(14, 26, 37, 0.18) !important;
}

/* Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.img-table {
    width: 90px;
    height: 90px;
}

.img-table img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

/* Table */

.dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
}

table {
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

table td {
    font-size: 14px !important;
}

table th {
    font-size: 15px !important;
}

/* Form-control */

.form-control,
.form-select {
    border: 1px rgba(0, 0, 0, .2) solid !important;
    border-radius: 2px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 14px !important;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
}

label,
.form-control::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px !important;
}

.perpage-font {
    font-size: 13px !important;
}


/* Pagination */

.pagination {
    justify-content: start;
    width: 100%;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    margin-top: 10px;
}

@media screen and (min-width:700px) {
    .pagination .page-link {
        margin: 1px;
        padding: 3px 11px;
        text-align: center;
        border-radius: 2px;
        color: black;
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0.78);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
    }
}

@media screen and (max-width:700px) {
    .pagination .page-link {
        margin: 2px;
        padding: 6px 6px;
        text-align: center;
        border-radius: 2px;
        color: black;
        background-color: rgba(255, 255, 255, 0.78);
        font-weight: 700;
        font-family: "Roboto", sans-serif !important;
        font-weight: 700 !important;
        font-style: normal !important;
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
        font-size: 12px !important;
    }
}

.pagination .page-link.link-selected,
.pagination .page-link:hover {
    background-color: transparent;
    color: black;
    border: 1px rgba(0, 0, 0, 0.78) solid;
}

.form-select.filters {
    width: max-content;
    padding: 7px 30px 7px 7px;
}

/* filters */
.filters.p-3 {
    margin-bottom: 40px;
}

/* Buttons */
.btn {
    padding: 6px 20px !important;
    border-radius: 2px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 14px !important;
}

/* Modal */
.modal-content {
    border-radius: 2px !important;
}

.modal-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

/* container view */
.container-view {
    margin: 30px 0;
    padding: 15px 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0.9);
}

.container-view .container-view-header {
    margin: 10px auto;
    margin-bottom: 40px;
    height: 20px;
    width: 98%;
    position: relative;
}

.container-view-header .title-view {
    position: absolute;
    left: 0;
    top: 7px;
}

.container-view-header .title-view p {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}

.container-view-header .button-actions {
    position: absolute;
    right: 0;
    top: 0;
}

/* cotainer master */
.cotainer-master {
    margin-right: 15px;
    transition: margin-left .4s ease-in-out;
    margin-top: 100px;
}

/* Navbar */
.navbar {
    position: fixed !important;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    min-height: 65px;
}

.navbar .user-info {
    /* overflow: visible;
    overflow-x: hidden;
    overflow-y: visible; */
    padding: 12px;
    position: absolute;
    top: 0;
    right: 35px;
    display: flex;
    background-color: rgba(10, 40, 104, 0.08);
    min-height: 65px;
    cursor: pointer;
}

.navbar .user-info .img-name {
    width: 34px;
    height: 34px;
    margin: auto;
}

.user-info .img-name img {
    width: 100%;
    height: 100%;
}

.user-info .name {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.user-info .name strong {
    font-size: 14px;
    font-weight: 500;
}

.user-info:hover .user-info-target {
    display: block;
}

@media screen and (min-width: 768px) {
    .user-info .user-info-target {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .user-info .user-info-target {
        left: -99px;
        width: 158px;
    }
}

.user-info .user-info-target {
    display: none;
    position: absolute;
    top: 100%;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 2px;
}

.user-info .user-info-target .title {
    padding: 0 16px;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6);
}

.user-info .user-info-target .options {
    margin: 0 0 0 0;
    list-style: none;
    padding: 0 0 0 0;
}

.user-info .user-info-target .options .option {
    width: 100%;
    transition: background-color .1s ease-in-out;
    padding: 4px 16px;
}

.user-info .user-info-target .options .option:hover {
    background-color: rgba(0, 0, 0, .1);
}

.user-info .user-info-target .options .option i {
    color: rgba(0, 0, 0, .85);
    font-size: 12px;
    margin-right: 5px;
}

.user-info .user-info-target .options .option span {
    color: rgba(0, 0, 0, .85);
    font-size: 13px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar .close-open-sidebar {
    position: absolute;
    top: 50%;
    left: 310px;
    transform: translateY(-75%);
    transition: left .4s ease-in-out;
}

.navbar .close-open-sidebar .btn-close-open-sidebar {
    background-color: transparent;
    border: unset;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
}

.navbar .close-open-sidebar .btn-close-open-sidebar svg {
    width: 25px;
    height: 25px;
    color: rgba(0, 0, 0, 0.7);
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Sidebar */
.sidebar {
    background-color: rgb(0, 19, 31);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    transition: left .4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.sidebar .sidebar-header {
    width: 100%;
    height: 65px;
    position: relative;
}

.sidebar .sidebar-header.contracted img {
    width: 50px;
    left: 78%;
    transform: translate(0, -50%);
}

.sidebar .sidebar-header img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.sidebar .sidebar-header.contracted p {
    font-size: 7px !important;
    left: 75%;
    transform: translate(0, -50%);
}

.sidebar .sidebar-header p {
    margin-bottom: 0;
    text-align: center;
    text-decoration: unset !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: white;
    font-size: 23px;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.sidebar .sidebar-header p:hover {
    color: white !important;
}

.sidebar .menu-container {
    width: 100%;
    padding: 10px 15px;
    overflow-x: visible;
    position: relative;
}

.sidebar .menu-container .title-menu {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.sidebar .menu-container .menu-links {
    list-style: none;
    padding: 0 0 0 0;
    width: 100%;
}

.sidebar .menu-container .menu-container-expand {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: translateX(0);
    opacity: 1;
    width: 100%;
}

.sidebar .menu-container .menu-container-expand.show {
    transform: translateX(0);
    opacity: 1;
}

.sidebar .menu-container .menu-container-expand.hidden.left {
    transform: translateX(-900px);
}

.sidebar .menu-container .menu-container-expand.hidden.right {
    transform: translateX(900px);
}

.sidebar .menu-container .menu-container-expand.hidden {
    opacity: 0;
}

.sidebar .menu-container .menu-container-contracted {
    width: max-content;
}

.sidebar .menu-container .menu-container-contracted .menu-link-name-overflow {
    position: absolute;
    top: 0;
    border-radius: 2px;
    background-color: rgb(0, 19, 31);
    height: 100%;
    margin-bottom: 0;
    padding: 10px;
    opacity: 0;
    left: 80%;
    transition: opacity .2s ease-in-out, left .2s ease-in-out;
    z-index: -1;
    cursor: default;
}

.sidebar .menu-container .menu-container-contracted .menu-link:hover .menu-link-name-overflow {
    opacity: 1;
    left: 110%;
}

.sidebar .menu-container .menu-container-contracted .menu-link .menu-link-name-overflow:hover {
    opacity: 0;
    left: 80;
}

.sidebar .menu-container .menu-links .menu-link {
    position: relative;
    display: flex;
    padding: 8px 13px;
    justify-content: start;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100% !important;
}

.sidebar .menu-container .menu-links .menu-link:last-child {
    margin-bottom: 0;
}

.sidebar .menu-container .menu-links .menu-link:hover {
    background-color: rgba(0, 0, 0, .4);
}

.sidebar .menu-container-contracted .menu-links .menu-link:hover {
    background-color: transparent;
}

.sidebar .menu-container-contracted .menu-links .menu-link svg,
.sidebar .menu-container-contracted .menu-links .menu-link i {
    margin-right: 1px;
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.sidebar .menu-links .menu-link svg,
.sidebar .menu-links .menu-link i {
    color: white;
    font-size: 22px;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.sidebar .menu-links .menu-link p {
    margin-bottom: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px !important;
}

.sidebar .menu-links a {
    text-decoration: none !important;
}

/* login */
.login-back {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(142deg, rgba(103, 253, 255, 1) 40%, rgba(0, 31, 139, 1) 100%);
}

/* Form container */
.container-form {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 700px;
    padding: 50px 30px;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .6);
    background-color: rgb(0, 102, 165);
}

.container-form .title {
    margin-bottom: 80px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 15px rgba(255, 255, 255, .4);
}

.container-form .footer {
    color: rgba(255, 255, 255, .7);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
}

.container-form .footer .router-link {
    color: aquamarine;
}

/* Footer */
footer {
    width: 100vw;
    background-color: white;
    margin-bottom: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    padding: 60px 10px;
    padding-bottom: 40px;
}

footer .footer-container {
    /* background-color: aqua; */
    transition: margin-left .4s ease-in-out;
}

.footer-container .title-footer {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .75);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px !important;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 132, 255, 0.2);
}

.footer-container .title-footer span {
    color: rgba(0, 0, 0, .95);
}

.footer-container .tecnlogies-container {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    grid-gap: 30px;
}

.footer-container .tecnlogies-container .tecnlogies .title {
    text-align: center;
    color: rgba(0, 0, 0, .9);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px !important;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 132, 255, 0.2);
}

.footer-container .tecnlogies-container .tecnlogies .tecnology {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px !important;
    margin-bottom: 5px;
}